{% if ''|scriptName != '/app_dev.php' %}
    <script type="text/javascript" src="/assetic/js/form.min.js"></script>
    <script type="text/javascript" src="/bundles/pizoneform/js/config.js"></script>
{% else %}
    {#<script type="text/javascript" src="/assetic/js/form.min.js"></script>#}
    <script type="text/javascript" src="{{ asset('/bundles/pizoneform/js/app.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/model/field/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/model/field/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/field/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/field/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/field/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/field/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/field/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/model/status/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/model/status/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/status/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/status/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/status/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/status/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/status/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/model/event/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/model/event/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/event/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/event/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/event/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/event/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/event/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/model/form/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/model/form/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/form/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/form/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/form/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/form/field.edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/form/event.edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/form/tmpl.edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/form/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/form/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/model/message/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/controller/message/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/message/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneform/js/translations/message/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('/bundles/pizoneform/js/translations.js')}}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/pizoneform/js/config.js')}}"></script>

{% endif %}