<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">{{'FFORM.EDIT_FIELD' | translate:{param: breadcrumbs.param} }}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="formId" ng-submit="Click.Submit()">
            <div class="tabs-container">
                <tabset>
                    <tab ng-repeat="tab in tabs" select="tab.getContent()" active="activeTab[$index]">
                        <tab-heading ng-class="{'text-danger': !tab.valid}">{{tab.title|translate}}
                            <i class="fa fa-warning" ng-show="!tab.valid"></i></tab-heading>
                        <div class="panel-body">
                            <div ng-if="tab.form" ng-repeat="group in tab.groups">
                                <div class="form-group">
                                    <div ng-repeat="block in group"
                                         class="col-lg-{{block.size}} text-left"
                                         ng-init="field = block.field"
                                         ng-class="{'has-error': !field.valid}"
                                         ng-include="field.template"></div>
                                </div>
                                <div class="hr-line-dashed" ng-show="!$last"></div>
                            </div>
                            <div ng-if="!tab.form" ng-include="tab.template"></div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="Click.Cancel()">{{'COMMON.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="Click.Submit()">{{'COMMON.SAVE' | translate}}</button>
    </div>
</div>