<div  class="col-lg-12 well well-sm">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <th>{{'FFORM.FIELD.EVENTS'|translate}}</th>
                <th>{{'COMMON.ACTIONS'|translate}}</th>
            </thead>

            <tbody>
            <tr ng-repeat="(key, items) in field.form track by $index">
                <td>
                    <div>
                        <label class="block switch switch-primary">
                            <input ng-checked="items.checked" type="checkbox" id="{{items.id}}" name="{{items.full_name}}" value="{{items.value}}" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="items.checked"/>
                            <span class="control-label m-l m-b-xs"> {{ items.label | translate}}</span>
                        </label>
                        <em for="{{items.id}}" class="text-danger" ng-repeat="error in items.errors" ng-if="!items.valid">{{error | translate}}</em>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-primary btn-outline" ng-click="ClickEditEvent(items.name)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

