<div  class="col-lg-12 well well-sm"  ng-if="testIssetField">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <th>{{'FFORM.FIELD.TITLE'|translate}}</th>
                <th>{{'FFORM.FIELD.ALIAS'|translate}}</th>
                <th>{{'FFORM.FIELD.FIELD'|translate}}</th>
                <th>{{'FFORM.FIELD.DEFAULT'|translate}}</th>
                <th>{{'FFORM.FIELD.SORT'|translate}}</th>
                <th>{{'FFORM.FIELD.IS_ACTIVE.LABEL'|translate}}</th>
                <th>{{'COMMON.ACTIONS'|translate}}</th>
            </thead>

            <tbody>
                <tr ng-repeat="(key, items) in field.form track by $index">
                    <td>{{items[0].groups[0][3].field.value}}</td>
                    <td>{{items[0].groups[0][4].field.value}}</td>
                    <td>{{items[0].groups[0][2].field.model.label}}</td>
                    <td>{{items[0].groups[0][5].field.value}}</td>
                    <td>{{items[3].groups[0][0].field.value}}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-outline btn-success ng-scope" ng-if="items[0].groups[0][1].field.checked" ng-click="ClickActiveField(key, false)">
                            <i class="fa fa-check"></i>
                        </button>
                        <button type="button" class="btn btn-xs btn-outline btn-warning ng-scope" ng-if="!items[0].groups[0][1].field.checked" ng-click="ClickActiveField(key, true)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary btn-outline" ng-click="ClickEditField(key)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-xs btn-danger btn-outline" ng-click="ClickRemoveField(key)">
                            <i class="fa fa-trash"></i>
                        </button>
                        <div ng-repeat="group in items" style="display: none">
                            <div ng-repeat="item2 in group.groups">
                                <div ng-repeat="block in item2"
                                     ng-init="field = block.field"
                                     ng-include="field.template"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="alert alert-warning" ng-if="!testIssetField">
    {{'FFORM.NOT_EXIST_FIELDS'|translate}}
</div>
<div class="row">
    <div class="col-md-12 text-left">
        <div class="pull-left space-20 text-primary">
            <button class="btn btn-sm btn-primary btn-gradient" type="button" ng-click="$parent.ClickAddField()">
                <i class="fa fa-plus-square pr5"></i> {{'FFORM.ADD_FIELD' | translate}}
            </button>
        </div>
    </div>
</div>
