<div ng-repeat="(key, items) in field.form track by $index" style="display: none">
    <div ng-repeat="group in items">
        <div ng-repeat="block in group"
             class="col-lg-{{block.size}} text-left"
             ng-init="field = block.field"
             ng-class="{'has-error': !field.valid}"
             ng-include="field.template"></div>
    </div>
</div>