<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">{{'FFORM.EDIT_EVENT' | translate }}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="formId" ng-submit="Click.Submit()">
            <div class="tabs-container">
                <div class="panel-body">
                    <div ng-repeat="group in fields">
                        <div class="form-group">
                            <div ng-repeat="block in group"
                                 class="col-lg-{{block.size}} text-left"
                                 ng-init="field = block.field"
                                 ng-class="{'has-error': !field.valid}"
                                 ng-include="field.template"></div>
                        </div>
                        <div class="hr-line-dashed" ng-show="!$last"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="Click.Cancel()">{{'COMMON.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="Click.Submit()">{{'COMMON.SAVE' | translate}}</button>
    </div>
</div>