<div  class="col-lg-12 well well-sm">
    <div class="col-lg-12">
        <table class="table">
            <thead>
            <th></th>
            <th>{{'FFORM.FIELD.TMPL'|translate}}</th>
            <th>{{'COMMON.ACTIONS'|translate}}</th>
            </thead>

            <tbody>
            <tr>
                <td>
                    <input icheck="" ng-model="selectedTmpl.key" type="radio" name="is_selected" id="form_template_radio" value="">
                </td>
                <td>{{'FFORM.DEFAULT_TMPL' | translate}}</td>
                <td>
                    <button type="button" class="btn btn-xs btn-warning btn-outline" ng-click="ClickCloneDefTmpl()">
                        <i class="fa fa-copy"></i>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="(key, items) in field.form track by $index">
                <td>
                    <input icheck="" ng-model="selectedTmpl.key" type="radio" name="is_selected" id="form_template_radio_{{key}}" value="{{key}}">
                </td>
                <td>{{items[0].groups[0][2].field.value}}</td>
                <td>
                    <button type="button" class="btn btn-xs btn-primary btn-outline" ng-click="ClickEditTmpl(key)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-warning btn-outline" ng-click="ClickCloneTmpl(key)">
                        <i class="fa fa-copy"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-danger btn-outline" ng-click="ClickRemoveTmpl(key)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <div ng-repeat="group in items" style="display: none">
                        <div ng-repeat="item2 in group.groups">
                            <div ng-repeat="block in item2"
                                 ng-init="field = block.field"
                                 ng-include="field.template"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-left">
        <div class="pull-left space-20 text-primary">
            <button class="btn btn-sm btn-primary btn-gradient" type="button" ng-click="$parent.ClickAddTmpl()">
                <i class="fa fa-plus-square pr5"></i> {{'FFORM.ADD_TMPL' | translate}}
            </button>
        </div>
    </div>
</div>

