<div ng-controller="AdminFormStatusEditCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" breadcrumbs="breadcrumbs"></div>

    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <!--<h5>All form elements-->
                            <!--<small>With custom checbox and radion elements.</small>-->
                        <!--</h5>-->
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" id="formId" ng-submit="Click.Submit()">
                            <div class="tabs-container">
                                <div class="panel-body">
                                    <div ng-repeat="group in fields">
                                        <div class="form-group">
                                            <div ng-repeat="block in group"
                                                 class="col-lg-{{block.size}} text-left"
                                                 ng-init="field = block.field"
                                                 ng-class="{'has-error': !field.valid}"
                                                 ng-include="field.template"></div>
                                        </div>
                                        <div class="hr-line-dashed" ng-show="!$last"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-include="pathToTmpl + 'include/_form_footer.html'"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>