<div ng-controller="AdminFormMessageListCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" breadcrumbs="breadcrumbs"></div>

    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-6" ng-include="pathToTmpl + 'include/_filters.html'"></div>`
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'FMESS.LIST' | translate }}</h5>

                        <div ibox-footable-tools></div>
                    </div>
                    <div class="ibox-content" id="listId">
                        <table class="table table-stripped toggle-arrow-tiny" data-page-size="50">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true" class="col-checkbox">
                                        <input icheck type="checkbox" ng-change="Click.ToggleAll()" ng-model="isAllSelected"/>
                                    </th>
                                    <th data-toggle="true">ID</th>
                                    <th>{{'FMESS.FIELD.FORM'|translate}}</th>
                                    <th data-sort-ignore="true">{{'FMESS.FIELD.MESS'|translate}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="one in list" footable-init>
                                <td>
                                    <input icheck type="checkbox" ng-checked="one.selected" ng-model="one.selected" ng-change="Click.OptionToggled()"/>
                                </td>
                                <td>{{ one.id }}</td>
                                <td>
                                    <a ui-sref="form.form_edit({id: {{one.form.id}}})">
                                        <i class="fa fa-link"></i> {{one.form.title}}
                                    </a>
                                    <br/>
                                    <small class="text-muted">{{one.form.alias}} [{{one.form.id}}]</small>
                                </td>
                                <td>
                                    <dl ng-if="one.fields.length > 0" ng-repeat="field in one.fields" class="dl-horizontal pz-list">
                                        <dt class="text-muted">{{ field.title }}</dt>
                                        <dd class="text-info">{{ field.value }}</dd>
                                    </dl>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer" ng-include="pathToTmpl + 'include/_list_footer.html'" pz-permission role="ROLE_ADMIN"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>